/* Reset some default styles for better consistency */
body, h1, h2, h3, p, ul, li {
    padding: 0;
    }
    body{
    overflow-x:hidden;
    }
  
  /* Styling for the about section */
  .about-section {
    padding: 30px;
  }
  
  .about-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .about-section p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  /* Styling for the vision section */
  .vision-section {
    padding: 40px;
    background-color: #f2f2f2;
  }
  
  .vision-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .vision-section p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .vision-section ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  
  /* Styling for the leadership section */
  .leadership-section {
   padding:20px;
  }
  
  .leadership-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .leaders-container {
  overflow-x: scroll;
  white-space: nowrap;
}
  .leader {
    text-align: center;
    margin-bottom: 10px;
    display:flex;
  } 
  .leader div{
   padding-right:30px;
   } 
  .leader img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
     border: 3px solid purple;
  }
  
  .leader h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .leader p {
    font-size: 16px;
  }
  .welcome-message a{
  color:purple;
  text-decoration:none;
  }
  .theme-section{
    padding: 20px;
    background-color: #f2f2f2;
    }
  .theme h2 {
   font-size: 24px;
    margin-bottom: 20px;
    }
  .theme h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color:purple;
  width:fit-content;
  border-bottom:solid purple 0.5px;
  }
  .theme p{
  color:blue;
  border: solid blue 1px;
  padding:5px;
  font-size:16px;
  text-decoration:none;
  }
  
  /* Styling for the footer */
  footer {
    background:linear-gradient(to right, purple 50%, rgb(179, 179, 173));
    padding: 10px;
    color:yellow;
    text-align: center;
    display:flex;
    flex-direction:column;
  }
  .add_leader button{
    color:white;
    background:blue;
    }
   .remove_leader button{
    color:white;
    background:red;
    }
    @media(max-width:767px){
    .add_leader{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    padding: 4px;
    margin:4px;
    background:grey;
    }
    }
    @media(min-width:768px){
    .add_leader{
    display:flex;
    justify-content:center;
    align-content:center;
    padding: 4px;
    margin:4px;
    background:grey;
    width:max-content;}
    }
    .nav-bar {
    background:linear-gradient(to right, purple 30%, rgb(179, 179, 173));
    color:yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    top:0;
    left:0;
    width:100%;
    position:fixed;
    z-index:3;
  }
  .menu-items a.active{
    color:red;
    border:solid white 1px;
  }
  
   /* Media query for screens wider than a certain width (e.g., phones) */
   @media (max-width: 767px) {
    .nav-bar-brand {
        display: flex;
        align-items: center;
      }
      .nav-logo{
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        bottom:0;
        background:yellow;
        background-image: url("/assets/chariots-logo.png");
        top:0;
        left:0;
        position:absolute;
        width:10vw;
      }
      .church-name {
        font-weight: bold;
        padding-left:9vw;
        font-size:large;
      }
    .nav-logo img {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%;
      }
      
    .menu-items{
      display:none;
      background:linear-gradient(to top, purple 40%, rgb(142, 138, 138));
     
    
    }
    .menu-items > ul > li {
        display: flex;
        padding:2vw;
      }
      .menu-items > ul {
        margin:0;
        padding:5vw;
       
      }
      .menu-items a {
        color:yellow;
        text-decoration: none;
      }
      .menu-items a:hover{
        color:red;
        font-style: italic;
      }
      .drop-down{
        display:inline-block;
        position:relative;
      }
    .drop-down-menu-toggle {
      align-items: center;
      display:absolute;
    }
    
    .drop-down-toggle-icon {
      margin-right: 5vw;
      cursor: pointer;
      padding-right:2vw;
      color:yellow;
    }
    
    .drop-down-menu li {
        margin-bottom: 0.1vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding:1vw;
      }
      .drop-down-menu {
        display: none;
        position: absolute;
        padding: 0;
        margin: 0;
        width: max-content; /* Adjust the width as needed */
        top:30%;
        right:100%;
        z-index: 1;
      }
      .drop-down:hover .drop-down-menu {
        display: block;
        background:linear-gradient(to top, purple 50%, rgb(179, 179, 173));
      }  
      .drop-down-toggle::after {
        content: "\25BE"; /* Unicode down arrow character */
        margin-left: 0.2vw;}
        .menu-items.open {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 100%;
          right: 0;
          width: fit-content;
          padding: 0;
          margin: 0;
          z-index: 1; /* Add this line */
        }
      
  }

   /* Media query for screens wider than a certain width (e.g., tablets and desktops) */
  @media (min-width: 768px) {
    .nav-bar-brand {
        display: flex;
        align-items: center;
      }
      .nav-logo{
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        bottom:0;
        background:yellow;
        background-image:center, url('/assets/chariots-logo.png');
        top:0;
        left:0;
        position:absolute;
        width:6vw;
      }
      .nav-logo img {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
      }
      .church-name {
        font-weight: bold;
        padding-left:6vw;
        font-size:x-large;
      }
      
    .drop-down-menu-toggle {
      display: none;
    }
    .drop-down {
        position:relative;
      }
      
      .drop-down-toggle::after {
        content: "\25BE"; /* Unicode down arrow character */
        margin-left: 0.5vw;
      }

    .drop-down-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #333;
        padding: 1vw;
        max-height: 2.8em; /* Adjust the max-height as needed */
        overflow: hidden;
      }
      .drop-down:hover .drop-down-menu {
        display: block;
        background:linear-gradient(to right, purple 50%, rgb(179, 179, 173));
      }  
      .drop-down-menu li {
        margin-bottom: 0.05vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .menu-items a:hover {
        color: red;
        font-style: italic;
      }
      
      .menu-items > ul {
        display: flex;
        padding-left:0.5vw;
        padding-right:2vw;
      }
      .menu-items > ul > li {
        display: inline-block;
        margin-left: 2vw;
        padding:0.1vw;
        margin-right:1vw;
      }
      
      .menu-items ul li:first-child {
        margin-left: 0;
      }
      
      .menu-items a {
        color:yellow;
        text-decoration: none;
      }
     
 }
 .admin-form{
 position:absolute;
 top:50%;
 left:50%;
 transform:translate(-50%, -50%);
 display:flex;
 padding:10px;
 background:rgb(0,70,120);
 width:80%;
 height:80%;
 text-align:center;
 flex-direction:column;
}
.admin-form h2{
color:yellow;
font-size:80px;
}
.admin-form form{
height:80%;
align-items:center;
justify-content:center;

}

.admin-form input{
border-radius:20%;
}
.admin-form label{
color:yellow;
} 
.admin-form p{
color:red;
}


 
  
  