/* Reset some default styles for better consistency */
body, h1, h2, h3, p, ul, li {
    padding: 0;
    }
    body{
    overflow-x:hidden;
    }
  
  /* Styling for the about section */
  .about-section {
    padding: 30px;
  }
  
  .about-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .about-section p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  /* Styling for the vision section */
  .vision-section {
    padding: 40px;
    background-color: #f2f2f2;
  }
  
  .vision-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .vision-section p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .vision-section ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  
  /* Styling for the leadership section */
  .leadership-section {
   padding:20px;
  }
  
  .leadership-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .leaders-container {
  overflow-x: scroll;
  white-space: nowrap;
}
  .leader {
    text-align: center;
    margin-bottom: 10px;
    display:flex;
  } 
  .leader div{
   padding-right:30px;
   } 
  .leader img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
     border: 3px solid purple;
  }
  
  .leader h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .leader p {
    font-size: 16px;
  }
  .welcome-message a{
  color:purple;
  link-style:none;
  }
  .theme-section{
    padding: 20px;
    background-color: #f2f2f2;
    }
  .theme h2 {
   font-size: 24px;
    margin-bottom: 20px;
    }
  .theme h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color:purple;
  width:fit-content;
  border-bottom:solid purple 0.5px;
  }
  .theme p{
  color:blue;
  border: solid blue 1px;
  padding:5px;
  font-size:16px;
  text-decoration:none;
  }
  
  /* Styling for the footer */
  footer {
    background:linear-gradient(to right, purple 50%, rgb(179, 179, 173));
    padding: 10px;
    color:yellow;
    text-align: center;
    display:flex;
    flex-direction:column;
  }
  .add_leader button{
    color:white;
    background:blue;
    }
   .remove_leader button{
    color:white;
    background:red;
    }
    @media(max-width:767px){
    .add_leader{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    padding: 4px;
    margin:4px;
    background:grey;
    }
    }
    @media(min-width:768px){
    .add_leader{
    display:flex;
    justify-content:center;
    align-content:center;
    padding: 4px;
    margin:4px;
    background:grey;}
    width:max-content;
    }
  